@use 'base/generales';
@use 'components/header';
@use 'sections/main';
@use 'components/footer';
@use 'pages/contacto';
@use 'pages/productos';
@use 'pages/redes';
@use 'base/queries';
@use 'pages/arreglos';