@use '../base/variables' as variable;
@use '../utilities/extend';
@use '../utilities/mixin';
/* Main */
main{
    @extend %block-center;
    div {
        h1{
            @include mixin.encabezado(rgb(10, 10, 53),underline);
        }
        h3{
            @include mixin.encabezado(rgb(10, 10, 53),underline)
        }
    .logo-main{ 
        height: variable.$relleno;
        width: variable.$relleno;
        border: 2px solid black;
        border-radius: 20px;
    }
    .ul-main{
        font-size: 1rem;
        list-style: none;
    }
    .marcas{
        display: block;
        margin: auto;
    }
}
    h2{
        @include mixin.encabezado(rgb(10, 10, 53),underline);
    }
    li{
        font-size: 1rem;
        list-style: none;
        strong{
            text-decoration: underline;
        }
    }
}
