.main-arreglos{
    .marcas{
        border-radius: 20px;
    }
    section{
        div{
            div{
                div{
                    img{
                    border: 2px solid black;
                    border-radius: 20px;
                    &:hover{
                        opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}