/* Página Redes */
.main-redes{
    .img-nombre{
        max-width: 350px;
        border-radius: 15px;
    }
    text-align: center;
    h1{
        text-decoration: underline;
    }
    }
    .div-redes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        a{
            img {
                width: 100%;
                max-width: 50px;
                border-radius: 5px;
                &:hover{
                    opacity: 0.6;
                    border: 2px solid black;
                    border-radius: 5px;
                }
            }
        }
    }

