
*{
    padding: 0;
    margin: 0;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    color: rgb(195, 195, 218);
}
body{
    background-image: url(../img/fondo4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Barra de navegaci칩n */

.navbar{
    display: flex;
    flex-grow: inherit;
    background-color: rgb(100, 100, 255);
}
.navbar-collapse {
    flex-grow: 0;
    flex-basis: 100%;
    align-items: center;
}
.logo-nav{
    padding-left: 15px;
    height: 50px;
    width: auto;
    border-radius: 50%;
}
.navbar :hover{
    color: whitesmoke;
}
.dropdown-menu{
    background-color: rgb(100, 100, 255);
}
.dropdown-menu :hover{
    background-color: rgb(100, 100, 255);
    color: aliceblue;
}

/* Main */

.container{
    display: block;
    align-items: center;
    text-align: center;
}
div h1{
    color: rgb(195, 195, 218);
    text-decoration: underline;
}
.logo-main{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
}
main div h3{
    color: rgb(195, 195, 218);
    text-decoration: underline;
}
.ul-main{
    font-size: 1rem;
    list-style: none;
}
.marcas{
    display: block;
    margin: auto;
}
/* Footer */
footer{
    text-align: center;
}
footer h2{
    text-decoration: underline;
}
footer h3{
    text-decoration: underline;
}

/* P치gina Contacto */
.main-contacto{
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.formulario-consulta {
    padding: 50px;
}

.formulario-boton{
    display: flex;
    margin: auto;
    background-color: rgb(67, 92, 235);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formulario-boton:hover{
    background-color: rgb(124, 137, 252);
}
.formulario-boton:active{
    background-color: rgb(177, 176, 184);
    transform: translateY(1px);
}

/* P치gina Redes */
.main-redes{
    text-align: center;
}

.main-redes h1{
    text-decoration: underline;
}

.div-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.div-redes a img {
    width: 100%;
    max-width: 50px;
}

/* P치gina productos */
h1{
    text-decoration: underline;
    text-align: center;
}
.grilla{
    display: grid;
    margin: 5px;
    grid-template-columns: repeat(3,200px);
    grid-template-areas: 
    "portafolio1 portafolio1 portafolio3"
    "portafolio1 portafolio1 portafolio2"
    "portafolio4 portafolio5 portafolio6"
    ;
    width: 100%;
    justify-content: center;
    align-content: center;
    gap: 10px 10px;
}
.grilla div{
    position: relative;
}
.grilla div::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.555);
    opacity: 0;
}
.grilla > div:hover{
    cursor: pointer;
}
.grilla > div:hover::after{
    opacity: 1;
}
.grilla div img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.caja1{
    grid-area: portafolio1;
}
.caja2{
    grid-area: portafolio2;
}
.caja3{
    grid-area: portafolio3;
}
.caja4{
    grid-area: portafolio4;
}
.caja5{
    grid-area: portafolio5;
}
.caja6{
    grid-area: portafolio6;
}

/* Mediaquery */
@media (max-width:991px) {
.grilla{
    grid-template-columns: repeat(2,200px);
    grid-template-areas: 
    "portafolio1 portafolio2"
    "portafolio3 portafolio4"
    "portafolio5 portafolio6"
    ;
    }
}