/* Footer */
footer{
    text-align: center;
    h2{
        text-decoration: underline;
        }
    h3{
        text-decoration: underline;
        }
    ul{
        li{
            list-style: none;
        }
    }
}
