@use 'sass:map';
@use '../utilities/maps' as mapa;

/* Barra de navegación */
header{
    .navbar{
        background-image: linear-gradient(45deg,blue 50%,rgb(52, 95, 236) 65%);
        display: flex;
        flex-grow: inherit;
        background-color: map.get(mapa.$colores,color-primario);
        :hover{
        color: whitesmoke;
        }
    }
    .navbar-collapse {
        flex-grow: 0;
        flex-basis: 100%;
        align-items: center;
    }
    .logo-nav{
        padding-left: 15px;
        height: 50px;
        width: auto;
        border-radius: 50%;
    }
    .dropdown-menu{
        background-color: rgb(100, 100, 255);
        &:hover{
            background-color: rgb(100, 100, 255);
            color: aliceblue;
        }
    }
}
