@use 'sass:map';
@use '../utilities/maps' as mapa;

/* Barra de navegación */
header{
    .navbar{
        background: linear-gradient(90deg,rgb(118, 154, 255) 0%, rgb(101, 90, 255) 50%, rgb(118, 154, 255));
        flex-grow: inherit;
        background-color: map.get(mapa.$colores,color-primario);
        :hover{
        color: rgb(41, 32, 32);
        }
    }
    .navbar-collapse {
        flex-grow: 0;
        flex-basis: 100%;
        align-items: center;
    }
    .logo-nav{
        padding-left: 15px;
        height: 50px;
        width: auto;
        border-radius: 50%;
    }
    .dropdown-menu{
        background: linear-gradient(90deg,rgb(118, 154, 255) 0%, rgb(101, 90, 255) 50%, rgb(118, 154, 255));
        &:hover{
            background-color: rgb(117, 117, 255);
        }
    }
}