*{
    padding: 0;
    margin: 0;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    color: rgb(10, 10, 53);
}
body{
    background-color: rgb(217, 232, 255);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
