/* Mediaquery */
@media (max-width:991px) {
.grilla{
    grid-template-columns: repeat(2,200px);
    grid-template-areas: 
    "portafolio1 portafolio2"
    "portafolio3 portafolio4"
    "portafolio5 portafolio6"
    ;
    }
}
@media (max-width:576px){
.grilla{
    grid-template-columns: repeat(1,200px);
    grid-template-areas: 
    "portafolio1"
    "portafolio2"
    "portafolio3"
    "portafolio4"
    "portafolio5"
    "portafolio6"
    ;
    }
}